@media (max-width: 833px) {

    // -------------------------------------------
    // ------------- LOCATION-HERO ---------------
    // -------------------------------------------
    
    .layouts__hero {
        padding: 3.3rem 15px 2.5rem;

        &__h-wrapper {

            h1 {
                width: 100%;
            }

            .layouts__hero__info {
                width: 125px;
                height: 89px !important;
                padding: 1.1rem 0.1rem;
                position: absolute;
                top: 100%;
                right: 0;
            }
        }

        &__description {
            padding: 3rem 2.9rem 0 0;
            width: 100%;
        }

        .layouts__hero__image-container {
            background: transparent url(../images/hero-layouts-mobile.png) center / contain no-repeat;
        }
    }

    // -------------------------------------
    // ------------- LAYOUTS ---------------
    // -------------------------------------

    .layouts__wrapper {
        padding: 0 15px 8.9rem;

        .layouts__header {
            padding-bottom: 1.2rem;
        }

        .span-title::after {
            width: 247px;
        }

        .layouts__container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            gap: 31px;

            .layout {
                height: 451px;

                &__img {
                    width: 300px;
                    height: 270px;
                }

                h4 {
                    padding: 1rem 0 0.5rem 0.6rem;
                    font-size: 18px;
                }

                p {
                    font-size: 14px;
                    padding-left: 0.6rem;
                }

                .a-button {
                    width: 334px;
                    right: 0;
                }
            }
        }
    }
}