* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--grayscale-50);
    width: 100%;
}

.flow-size {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

address {
    font-weight: 500;
    line-height: 150%;
}

.logo {
    font-weight: 700;
    font-size: 31px;
    line-height: 170%;
}

label, .hero__mobile-nav {
    display: none;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 140%;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 140%;
}

.span-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--grayscale-black);
    position: relative;
    padding: 0 0.5em 1.25rem 0;
    display: inline-block;

    &::after {
        content: '';
        border: 1px solid var(--grayscale-black);
        height: 0px;
        width: 530px;
        position: absolute;
        left: 100%;
        top: 0.6em;
    }
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--grayscale-10);
}

.infrastructure__grid__item__description p, .advantages__item__description p {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: var(--grayscale-white);
}

.a-button, .a-button:visited {
    display: block;
    padding: 14px 0;
    text-align: center;
    width: 175px;
    height: 49px;
    background: var(--primary-blue-100);
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--grayscale-white);
}